.footer{
    display: block;
    text-align: center;
    border-top: 1px solid #eee;
}


.footercontainer{
    width: 1400px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.social{
    position: absolute;
    top: 50px;
    right: 0;
}

.a{
    width: 9px;
    height: 19px;
    background-size: 9px 19px;
}

.links{
    position: absolute;
    top: 50px;
    left: 0;
    display: block;
}