.footer{
    display: block;
    text-align: center;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer{
    width: 1400px;
    height: 120px;
    display: block;
    position: relative;
}

.social{
    position: absolute;
    top: 50px;
    right: 0;
}

.a{
    width: 9px;
    height: 19px;
    background-size: 9px 19px;
    margin-left: 40px;
}

.links{
    position: absolute;
    top: 50px;
    left: 0;
}

.copy{
    margin: 50px;
    line-height: 20px;
    font-size: 14px;
    color: #000;
}